<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="rateMyMPConnectionString" connectionString="Data Source=ratemymp.venturepact.com;Initial Catalog=RateMyMP;User ID=venturepact;Password=vp@123321" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>